/* global style */
:root {
	--primary-color: rgb(206, 179, 30);
	--primary-transition: all 0.5s ease;
}
.top-info {
	padding: 0.2rem 2rem;
}
.info {
	cursor: pointer;
	transition: var(--primary-transition);
}
.top-contact {
	padding-left: 0.5rem;
}
.top-social {
	padding-left: 0.5rem;
	font-size: 1.3rem;
	color: white;
	transition: var(--primary-transition);
}
.info:hover,
.top-social:hover {
	color: var(--primary-color);
	transform: scale(1.1);
}
/* a revoir 1 */

/* caroussel */
/* Navigation*/
/* .navbar {
	background-color: transparent;
}
.scrolling-navbar {
	transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.top-nav-collapse {
	background-color: #667490;
}
footer.page-footer {
	background-color: #667490;
}
@media only screen and (max-width: 768px) {
	.navbar {
		background-color: #667490;
	}
}

/* Necessary for full page carousel*/
/* html,
body,
.view {
	height: 100%;
} */

/* Carousel*/
/* .carousel,
.carousel-item,
.carousel-item.active {
	height: 100%;
}
.carousel-inner {
	height: 100%;
}
.carousel-item:nth-child(1) {
	background-image: url("https://mdbootstrap.com/img/Photos/Others/images/76.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.carousel-item:nth-child(2) {
	background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/30.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.carousel-item:nth-child(3) {
	background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img%20(10).jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}  */
