/* global style */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300");
/* global style */
body {
  box-sizing: border-box; }

.container-fluid {
  padding: 1rem 2rem 2rem;
  color: white; }
  .container-fluid .row div {
    padding-bottom: 0.6rem; }
  .container-fluid .info {
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.5s ease; }
    .container-fluid .info:hover {
      color: #d3a621; }
    .container-fluid .info i {
      padding-right: 0.4rem; }
  .container-fluid .top-social {
    padding-left: 0.6rem;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease; }
    .container-fluid .top-social:hover {
      color: #d3a621; }
  .container-fluid .top-contact:nth-child(2) {
    letter-spacing: 0.1rem; }

.navbar {
  padding-right: 2rem;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  z-index: 10;
  margin-top: -2rem; }
  .navbar .logo {
    height: 60px;
    margin-top: -1rem; }
    @media screen and (max-width: 768px) {
      .navbar .logo {
        width: 120px; } }
  .navbar .navbar-toggler {
    outline: none;
    border: none;
    font-size: 1.6rem; }
  .navbar .nav-link {
    margin-left: 1rem;
    color: white !important;
    transition: all 0.5s ease;
    letter-spacing: 0.1rem; }
    .navbar .nav-link:active, .navbar .nav-link:hover {
      color: #d3a621 !important;
      border-bottom: 2px solid #d3a621; }
      @media screen and (max-width: 768px) {
        .navbar .nav-link:active, .navbar .nav-link:hover {
          border-bottom: none;
          margin-bottom: 1.2rem 0; } }
  .navbar .cart {
    color: #d3a621;
    font-size: 1.5rem;
    padding-left: 3rem; }

.carousel {
  margin-bottom: 5rem; }
  .carousel .carousel-item {
    height: 70vh;
    min-height: 350px;
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .carousel .carousel-caption {
    padding-bottom: 12rem; }
    @media screen and (max-width: 600px) {
      .carousel .carousel-caption {
        padding-bottom: 6rem; }
        .carousel .carousel-caption h3 {
          line-height: 1.7rem; } }
  .carousel .nom {
    font-size: 3rem;
    color: #2ead5f;
    padding-left: 1rem; }
  .carousel .description {
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    padding-top: 0.7rem; }
  .carousel .myBtn {
    width: 200px;
    margin-top: 1.3rem;
    color: #250202;
    background-color: #e5c25b;
    border: #e5c25b;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    outline: none; }
    .carousel .myBtn:hover {
      background-color: #917217;
      border: #917217;
      color: white; }

.product-section {
  margin-top: 4rem; }
  .product-section .product-title {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 4rem;
    letter-spacing: 0.1rem; }
  .product-section .card {
    padding: 1rem 1rem 0 1rem;
    border: none;
    background-color: #f0e8e8;
    margin-bottom: 1.6rem;
    transition: all 0.5s ease; }
    .product-section .card:hover {
      -webkit-box-shadow: 3px 2px 18px -6px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 3px 2px 18px -6px rgba(0, 0, 0, 0.75);
      box-shadow: 3px 2px 18px -6px rgba(0, 0, 0, 0.75); }
  .product-section .card-title {
    padding-bottom: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 400; }
  .product-section .product-card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .product-section .btnCard {
    font-size: 1.1rem;
    color: inherit;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.5s ease; }
    .product-section .btnCard:hover {
      color: #d3a621; }

.title {
  margin-top: 4rem; }
  .title .product-title {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 4rem;
    letter-spacing: 0.1rem; }
    .title .product-title span {
      padding-left: 0.7rem; }

.hauteur {
  margin-bottom: 0;
  height: 300px; }

.product-slide {
  padding-top: 1rem; }

.product-list {
  background-color: #f2f2f2;
  position: relative; }
  .product-list h1 {
    font-family: "Montserrat"; }
  .product-list .carousel-item .col,
  .product-list .carousel-item .col-sm,
  .product-list .carousel-item .col-md {
    margin: 8px;
    height: 300px;
    background-size: cover;
    background-position: center center; }

.footer {
  padding-top: 2rem; }

.footer-title {
  padding-bottom: 1rem; }

.footer-text,
.footer-links {
  font-weight: lighter;
  text-align: center; }
  .footer-text span,
  .footer-links span {
    color: #d3a621;
    font-size: 1.3rem; }

.footer-address {
  font-weight: lighter;
  text-align: center; }
  .footer-address h6 {
    padding-bottom: 0.7rem; }
    .footer-address h6 span {
      padding-left: 0.7rem; }

.footer-links {
  list-style-type: none; }
  .footer-links li a {
    color: white;
    text-decoration: none;
    transition: all 0.5s ease; }
    .footer-links li a:hover {
      color: #d3a621 !important; }
