/* global style */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300");

$primary-color: #d3a621;
$primary-transition: all 0.5s ease;
$title-font: "Lato", sans-serif;
$body-font: "Poppins", sans-serif;
$spacing: 0.1rem;
@mixin smallquery($media) {
	@media screen and (max-width: $media) {
		@content;
	}
}
@mixin bigquery($media) {
	@media screen and (min-width: $media) {
		@content;
	}
}

/* global style */

body {
	box-sizing: border-box;
}
// top info
.container-fluid {
	padding: 1rem 2rem 2rem;
	color: white;
	.row {
		div {
			padding-bottom: 0.6rem;
		}
	}
	.info {
		cursor: pointer;
		font-size: 1rem;
		transition: $primary-transition;
		&:hover {
			color: $primary-color;
		}
		i {
			padding-right: 0.4rem;
		}
	}
	.top-social {
		padding-left: 0.6rem;
		font-size: 1.4rem;
		color: white;
		cursor: pointer;
		transition: $primary-transition;
		&:hover {
			color: $primary-color;
		}
	}
	.top-contact:nth-child(2) {
		letter-spacing: 0.1rem;
	}
}
// end top info

// Navbar
.navbar {
	padding-right: 2rem;
	font-family: $title-font;
	font-size: 1.1rem;
	z-index: 10;
	margin-top: -2rem;
	// background: transparent !important;
	// border-color: transparent !important;

	.logo {
		height: 60px;
		margin-top: -1rem;
		@include smallquery(768px) {
			width: 120px;
		}
	}
	.navbar-toggler {
		outline: none;
		border: none;
		font-size: 1.6rem;
	}
	.nav-link {
		margin-left: 1rem;
		color: white !important;
		transition: $primary-transition;
		letter-spacing: 0.1rem;
		&:active,
		&:hover {
			color: $primary-color !important;
			border-bottom: 2px solid $primary-color;
			@include smallquery(768px) {
				border-bottom: none;
				margin-bottom: 1.2rem 0;
			}
		}
	}
	.cart {
		color: $primary-color;
		font-size: 1.5rem;
		padding-left: 3rem;
	}
}

// End navbar

// Carousel style
.carousel {
	margin-bottom: 5rem;
	.carousel-item {
		height: 70vh;
		min-height: 350px;
		background: no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.carousel-caption {
		padding-bottom: 12rem;
		@include smallquery(600px) {
			padding-bottom: 6rem;
			h3 {
				line-height: 1.7rem;
			}
		}
	}

	.nom {
		font-size: 3rem;
		color: rgb(46, 173, 95);
		padding-left: 1rem;
	}
	.description {
		font-size: 1.3rem;
		letter-spacing: 0.2rem;
		padding-top: 0.7rem;
	}
	.myBtn {
		width: 200px;
		margin-top: 1.3rem;
		color: rgb(37, 2, 2);
		background-color: lighten($primary-color, 15%);
		border: lighten($primary-color, 15%);
		font-size: 1.5rem;
		letter-spacing: $spacing;
		transition: $primary-transition;
		outline: none;
		&:hover {
			background-color: darken($primary-color, 15%);
			border: darken($primary-color, 15%);
			color: white;
		}
	}
}
// produsts-section
.product-section {
	margin-top: 4rem;
	.product-title {
		text-transform: uppercase;
		font-family: $title-font;
		font-weight: 600;
		font-size: 2rem;
		margin-bottom: 4rem;
		letter-spacing: 0.1rem;
	}
	.card {
		padding: 1rem 1rem 0 1rem;
		border: none;
		background-color: rgb(240, 232, 232);
		margin-bottom: 1.6rem;
		transition: $primary-transition;
		&:hover {
			-webkit-box-shadow: 3px 2px 18px -6px rgba(0, 0, 0, 0.75);
			-moz-box-shadow: 3px 2px 18px -6px rgba(0, 0, 0, 0.75);
			box-shadow: 3px 2px 18px -6px rgba(0, 0, 0, 0.75);
		}
	}
	.card-title {
		padding-bottom: 1rem;
		font-family: $title-font;
		font-weight: 400;
	}
	.product-card {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	.btnCard {
		font-size: 1.1rem;
		color: inherit;
		font-weight: 400;
		text-decoration: none;
		transition: $primary-transition;
		&:hover {
			color: $primary-color;
		}
	}
}

// Product list carousel
.title {
	margin-top: 4rem;
	.product-title {
		text-transform: uppercase;
		font-family: $title-font;
		font-weight: 600;
		font-size: 2rem;
		margin-bottom: 4rem;
		letter-spacing: 0.1rem;
		span {
			padding-left: 0.7rem;
		}
	}
}
.hauteur {
	margin-bottom: 0;
	height: 300px;
}
.product-slide {
	padding-top: 1rem;
}
.product-list {
	background-color: #f2f2f2;
	position: relative;
}
h1 {
	font-family: "Montserrat";
}

.carousel-item {
	.col,
	.col-sm,
	.col-md {
		margin: 8px;
		height: 300px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}
// footer
.footer {
	padding-top: 2rem;
}
.footer-title {
	padding-bottom: 1rem;
}
.footer-links {
	font-weight: lighter;
	text-align: center;
	span {
		color: $primary-color;
		font-size: 1.3rem;
	}
}
.footer-text {
	font-weight: lighter;
	span {
		color: $primary-color;
		font-size: 1.3rem;
	}
}
.footer-address {
	font-weight: lighter;
	text-align: center;
	h6 {
		padding-bottom: 0.7rem;
		span {
			padding-left: 0.7rem;
		}
	}
}
.footer-links {
	list-style-type: none;
	li {
		a {
			color: white;
			font-size: 1rem;
			text-decoration: none;
			transition: $primary-transition;
			&:hover {
				color: $primary-color !important;
			}
		}
	}
}
